<br>
<div>
  <label for="new-member">社員名: </label>
  <input id="new-member" #memberName />

  <!-- (click) 入力値をadd()に渡したあと、入力をクリアする -->
  <button class="add-button" (click)="add(memberName.value); memberName.value=''">
    社員を追加
  </button>
</div>

<ul class="members">
  <li *ngFor="let member of members">
    <a routerLink="/detail/{{member.id}}">
      <span class="badge">{{member.id}}</span> {{member.name}}
    </a>
    <button class="delete" title="delete member"
      (click)="delete(member)">x</button>
  </li>
</ul>